.background-image{
display: flex;
height: auto;
min-height: 70vh;
justify-content: center;
align-items: center;
background-color: #1a1a1b;
background-image: url('../img/blog/introImage.jpg');
background-position: 50% 50%;
background-size: cover;
opacity: 1;
filter: brightness(84%) contrast(118%);
text-align: center;
color: rgb(253, 253, 253);
flex-direction: column;
}

 .blog-imageSection1 img {
  width: 500px;
  max-width: 100%; 
  float: right;
}

.blog-text p {
  color: rgb(254, 249, 249);
  width: 500px;
}
.row {

  margin-top: 20px;
}

.blog-imageSection2 img{

  width: 100%;
    max-width: 100%;
    height: 500px;
    margin-bottom: 10px;
    
}

.blog-text2 p{

  width: 450px;
  margin-left: 90px;
  color: rgb(254, 249, 249);
} 
.blog-content{
  color: white;
}

.blog-text, .blog-text2 {
  color: white; /* Set text color to white */
  font-size: 20px; /* Set font size to 20px */
}


.blog-header{

  color: rgb(201, 72, 8);
}

.blog-image{

  width: 100%;
  max-width: 100%;
  height: 500px;
  margin-bottom: 10px;
  border-radius: 10px;
}