.fa-blog-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 2rem;
}
.fa-blog-list__item {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 0;
}
.fa-blog-list__img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}
.fa-blog-list__heading {
  margin: 20px 0;
  padding: 0 0 16px 0;
  /* border-bottom: 5px solid #ccc;s */
  font-size: 1.5rem;
  flex-grow: 1;
}
.fa-blog-list__text {
  margin: 10px 0;
  padding: 0;
  font-size: 1rem;
}
.fa-blog-list__link{
  color: #ff6f00;
  font-weight: 700;
  margin: 10px 0;
  padding: 0;
  font-size: 1rem;
  text-decoration: none;
  border-bottom: 2px solid #ff6f00;
}
