.fa-hero-login {
  min-height: 20vh;
  text-align: left;
  background-image: url('https://dmtupqacnn63x.cloudfront.net/original_images/Contentpagina_Fitness_-_header_nieuw_def.jpg');
  background-position: 50% 25%;
}