
.fa-hero-login {
  min-height: 40vh;
  text-align: left;
   background-image: url('../img/login/login.jpeg'); 
  background-position: 50% 25%;
}
.intro-text{

  font-weight: bold;
  font-size: 48px;
}

.fa-text{
  color: rgb(243, 239, 239);
  font-size: 20px;
 
}

.form-control {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid #ced4da; 
  border-radius: 4px;
  background-color: #f9f9f9; 
}
