     .background-image {
      background-image: url("../img/progressTracker/IntroProgress.jpg");
      background-size: cover;
      background-position: center;
      height: 50vh;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: white;
    }
    .text-Intro{
      font-size: 3rem;
      font-style: initial;
      color: rgb(196, 94, 11);
      font-weight: bold;
      background-attachment: fixed;
      background-position: center;
      z-index: 1;
    }
    .card-Intro{
     font-size: 20px;
     width: 50%;
      margin-left: 25%;
      margin-top: 2%;
      margin-bottom: 2%;
      text-align: center;
      color: rgb(238, 232, 232);
      font-style: bold;
      font-weight: bold;
    }
    .wide-card {
        max-width: 700px;
        margin: 50px auto;
        border-radius: 10px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 20px; /* Add margin at the top of the card for spacing */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow for a card-like appearance */
    }
    
    .card-body{
    
      background-color: rgb(12, 12, 12);
    }
    .circle {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        background-color:rgb(175, 108, 14);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        font-weight: bold;
    }
    
    .caloriesIntake{
    
      font-size: 24px;
      color: rgb(242, 239, 239);
      font-style: bold;
      font-weight: bold;
      text-align: center;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .card-title{
      font-size: 24px;
      color: rgb(196, 94, 11);
      font-style: bold;
      font-weight: bold;
      text-align: center;
      margin-top: 10px;
      margin-bottom: 10px;
    }
     
    .card-text{
    
      color: rgb(252, 252, 252);
      font-size: 20px;
      font-weight: semi-bold;
      text-align: left;
    
    
    }
    .session-info {
          display: flex;
        justify-content: space-between;
        margin-top: 10px;
        color: rgb(252, 252, 252);
    }
    
    .img-fluid {
      max-width: 100%;
      height: auto;
    }
    
  
    
    .table-header{
    margin-top: 80px;
      font-size: 24px;
      color: rgb(196, 94, 11);
      font-style: bold;
      font-weight: bold;
      text-align: center;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    
    .table-header {
      text-align: center;
      margin-top: 40px; /* Add margin to the top of the header */
      color: rgb(196, 94, 11); /* Text color */
    }

      #nutritionTable {
        background-color: rgb(214, 17, 17);
        color: white;
        border: 1px solid orange;
        text-align: center;
        margin-bottom: 40px; /* Add margin at the bottom of the table */
        width: 100vh;
        margin-left: auto;
        margin-right: auto;


    }

    #nutritionTable th, #nutritionTable td {
        /* border: 0.5px solid rgb(245, 107, 15); */
        background-color: rgb(53, 51, 51);
        
        color: white;
        font-size: 18px;
    }
    
    #nutritionTable {
        /* Other styles */
        overflow: hidden; /* Add this line */
    }
    
    .word-highlighted {
      color: orange; /* Set the color of the highlighted word to orange */
    }
    
    .card-body2 {
      text-align: center; /* Center align the text within the card body */
      padding: 20px; /* Add some padding for better spacing */
    }
  .table-container, .table-header{
    justify-content: center;
    align-items: center;
  }



  .popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none; /* Remove border */
    background-color: rgb(116, 115, 115); /* Change background color to black */
    color: white; /* Change font color to white */
    padding: 30px; /* Increase padding for more space */
    border-radius: 10px; /* Add rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add shadow effect */
    z-index: 1000;
  }
  
  .popup-content {
    max-width: 400px;
    max-height: 600px;
  }
  .addworkouttxt{
    font-size: 20px;
    color: rgb(248, 190, 16);
    font-weight: bold;
    text-align: center;
  }
  
  .close {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    font-size: 30px;
    color: #aaa;
  
  }
  
  .close:hover {
    color: rgb(248, 190, 16);
  }
 .workouts-list{
    background-color: rgb(12, 12, 12);
    width: 200px;
    margin-left: 10px;
    border-radius: 20px;
    float: left;
 }
 .workouts-list h3{
    color: rgb(248, 190, 16);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
 }
 .workout{
  /* display: flex;
  justify-content: space-between; */
 margin: 20px
 
 }
 .workout .add-workout{
  background-color: rgb(248, 190, 16);
  color: rgb(12, 12, 12);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 150px; 
  height: 40px; 
  float: right ;
   
 }  

 #addBtn{
  background-color: rgb(248, 190, 16);
  color: rgb(12, 12, 12);
  border: none;
  cursor: pointer;
  border-left:0px;
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: -14px;
  margin-right: 10px;
  padding: auto;
 }

 #workoutForm {
  display: flex;
  flex-direction: column;
}

#adding-btn{
  background-color: rgb(248, 190, 16);
margin: 5px;
}


/* Search food bar */

/* Popup styles */
.popup-food {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  padding-top: 100px;
}

.popup-foodcontent {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 20px;
}

.closef {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closef:hover,
.closef:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.results-container {
  margin-top: 20px; /* Adds some space between the search bar and the results */
  padding-left: 20px; /* Starts content from the left with some padding */
  /* Adjust width as needed or keep it 100% to use the full container width */
}

.scrollable-list {
  max-height: 200px;
  overflow-y: auto;
}
#openPopupButtonf{
  background-color: rgb(248, 190, 16);
  color: rgb(12, 12, 12);
  border: none;
  cursor: pointer;
  border-left:0px;
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  right: 100vh;
}

.table-and-button {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  width: 100%; 
}

.table {
  width: auto; 
}

#openPopupButtonf {
  margin-left: 97.5%; 
  width: 120px;

}

/* search bar */
.search-container {
  display: flex; /* Uses flexbox to align children */
  justify-content: center; /* Centers children horizontally in the container */
  align-items: center; /* Centers children vertically (useful if their heights are different) */
  width: 100%; /* Makes sure the container takes full width of its parent, adjust as necessary */
  margin-top: 20px; /* Adds some space above the search bar, adjust as needed */
}
#searchInput, #searchButton {
  border-radius: 20px; 
  padding: 10px 15px; 
  border: 1px solid #ccc; 
  font-size: 16px; 
  outline: none; 
}

#searchInput {
  margin-right: -4px; 
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; 
}

#searchButton {
  border-top-left-radius: 0; 
  border-bottom-left-radius: 0; 
  cursor: pointer; 
  background-color: rgb(248, 190, 16);
  color: rgb(0, 0, 0); 

}
#recipeList{
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 20px;
  color: rgb(0, 0, 0);
  font-size: 15px;
  font-weight: regular;
  text-align: center;
  outline-style: none;
}



